@import url('https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&family=Poppins:wght@200;300;400&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-family: 'Roboto';
  color: rgb(237, 228, 228); 
}
*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;
}
$color-50: #0b3545;
$color-30: #0d4156;
$color-15: #0f535e;
$color-5: #07222d;
$color-text: white;

*{
    user-select: none;
}

li{
    text-decoration: none;
    list-style: none;
}
::-webkit-scrollbar{
    display: none;
}

.loader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img{
        width: 5rem;
        height: 5rem;
    }
}
